# umm
infra/terraform-sa.json
infra/*.tf.json
infra/*.json
*.json
!package-lock.json
!package.json
!app/package.json
gcp-sa-key.json
gcp-sa-key.b64


# ─ Terraform ─
.terraform/
infra/.terraform/


node_modules/
dist/
.next/            # Next.js build output
